* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* Main conteiners */
.cv-document {
  width: 100%;
  height: 1759px;
  background: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.cv-header {
  width: 100%;
  height: 265px;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  text-align: center;
}
.cv-body {
  width: 100%;
  height: 1185px;
  position: absolute;
  top: 251px;
  left: 0px;
  overflow: hidden;
}
.cv-bottom {
  width: 100%;
  height: 260px;
  position: absolute;
  top: 1436px;
  left: 0px;
  overflow: hidden;
}
/* Headers */
.relevant-header {
  width: 397px;
  color: rgba(209,3,11,1);
  position: absolute;
  top: 10px;
  left: 89px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  text-align: left;
}
.education-header {
  width: 296px;
  color: rgba(209,3,11,1);
  position: absolute;
  top: 10px;
  right: 100px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  text-align: right;
}
.experience-header {
  width: 349px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 250px;
  left: 102px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  text-align: left;
}
.languages-header {
  width: 315px;
  color: rgba(209,3,11,1);
  position: absolute;
  top: 8px;
  right: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  text-align: right;
}

/* Text boxes */
.relevant {
  width: 538px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 70px;
  left: 89px;
  font-size: 20px;
  text-align: left;
}
.education {
  width: 365px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  right: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  text-align: left;
}
.godot-server {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 342px;
  left: 133px;
  font-size: 20px;
  text-align: left;
}
.server-desc {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 613px;
  left: 133px;
  font-size: 20px;

  text-align: left;
}
.cpp-desc {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 870px;
  left: 133px;
  font-size: 20px;
  text-align: left;
}
.godot-logo {
  width: 100px;
  height: 100px;
  background: url("godot.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 8px;
  overflow: hidden;
}
.server-logo {
  width: 91px;
  height: 91px;
  background: url("server.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 670px;
  left: 8px;
  overflow: hidden;
}
.cpp-logo {
  width: 118px;
  height: 118px;
  background: url("cpp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 924px;
  left: 0px;
  overflow: hidden;
}
.desc {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 66px;
  left: 102px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  text-align: left;
}
.languages {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  right: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  text-align: right;
}
.name {
  width: 356px;
  color: rgba(209,3,11,1);
  position: absolute;
  top: 28px;
  left: 57px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 40px;
  text-align: left;
}
.status {
  width: 319px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 101px;
  left: 57px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 32px;
  text-align: left;
}
.address {
  width: 300px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  transform: translate(-50%, 0%)
}

/* Lines */
.line-1 {
  width: 100%;
  position: absolute;
  top: 16px;
  left: 73px;
  border: 1px solid rgba(209,3,11,1);
}
.line-2 {
  width: 100%;
  position: absolute;
  top: 1162px;
  left: 73px;
  border: 1px solid rgba(209,3,11,1);
}

